.titre {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detailVehicule {
    border: solid 2px #0D6EFD;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.detailVehicule-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}