@media only screen and (min-width: 768px) {
    img {
        width: 90%;
    }

    .home {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .imgDiv {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 769px) {
    .imgDiv img {
        width: 100%;
        height: 500px;
    }

    .home {
        font-size: 30px;
        text-align: center;

    }
}